/* NProgress overrides */

#nprogress .bar {
  z-index: 9999;
  top:53px;
  height:3px;
}

#nprogress .spinner {
  z-index: 9999;
  bottom: 15px;
  top: auto;
}

@media (max-width: 767px) {

	#nprogress .bar {
		top:50px;
	}
}