/**
 * Bootstrap configuration variables
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600); 
$grid-float-breakpoint: 980px;
$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$gray-light: #707070;
$link-color: #266fae;
$line-height-base: 1.5; 

/**
 * Global SCSS Styles
 */

@import 'packages/bootstrap3-sass/bootstrap';

html, body {
	height: 100%;
	min-height: 100%;
}

body { padding-top: 50px; 
	background-color: #e5e5e5;
}

.content-wrapper {
	background-color: #fff;
	padding: 10px;
	border: 2px solid darken(#fff, 3%);
	box-shadow: 0px 0px 20px darken(#fff, 20%)
}

textarea.form-control {
	resize: vertical;
}

a.navbar-brand {
	height:49px;
}

/*****************************************************************************/
/* Progress Bar Overrides */
/*****************************************************************************/

#iron-router-progress{
	z-index: 9999;
    background-color : #2299dd;
    box-shadow       : 0 0 5px #2299dd;
    top:52px;

	&.spinner:before {
		display:none;
	}
}