/*****************************************************************************/
/* BasicBox: Style */
/*****************************************************************************/
$box-background-color: #f5f5f5;
$facts-section-background-color: #ffffff;
$image-section-background-color: #ffffff;
$header-section-background-color: darken(#fff, 2%);

.thumbnail-normal {
	background-color: $box-background-color;
	position: relative;
	box-shadow: 0px 0px 10px darken(#fff, 20%);
	border-radius: 2px;
	margin: 10px 0;
	border: 2px solid darken(#fff, 3%);


	.row {
	    display: table;
	    margin: 0;
		max-height: 10px;
		height: 10px;
	}

	.row [class*="col-"] {
	    float: none;
	    display: table-cell;
	    vertical-align: top;
		max-height: 10px;
		height: 10px;
	}
}

.thumbnail-normal:hover {

	border-color: darken(#fff, 20%);

	h4 {
		color:#008cba;
	}

	.overlay{
		display:block;
	    background-color:darken(#fff, 40%);
	    opacity:0.1;
		cursor: pointer;
	}
	.box-desc{
		color:#008cba;

	}
}

.box-header {
	margin:0;
	padding: 5px;
	background-color: $header-section-background-color;
	border-bottom: 1px solid darken($box-background-color,2%);
}
.list-group .list-group-item {
	position: relative;
	font-size: 12px;
	padding:0px;
	text-align: left;
	border: 0;
	height:20px;
	background-color: $facts-section-background-color;

	.bold {
		font-weight: 500;
	}
}

.box-facts {
	background-color:$facts-section-background-color; 
	padding: 5px;
}

.box-image {
	background-color: $image-section-background-color;
	padding: 5px 0;
}

.box-desc {
	font-size: 13px;
	text-align: justify;
	padding: 5px;
	border-top: 1px solid darken($box-background-color,2%);
}

.overlay {
	width:100%;
	height:100%;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
}




/*! Light */
#light {
    background-color: #ccc;
    box-shadow: 0 0 2.5px rgba(0,0,0, .8);
    overflow: hidden;
    padding: 1.25px 0 1.25px;
    height: 17.5px;
    width: 60px;
}

#light span {
    border-radius: 25px;
    display: inline-block;
    height: 15px;
    margin: 1px 1px 1px;
    opacity: .25;
    width: 15px;
}

/*! Light colours */
#red    { background-color: red; }
#orange { background-color: orange; }
#green  { background-color: green; }

/*! Active states */
#light span.active    { opacity: 1; }
#light #red.active    { box-shadow: 0 0 5px red; }
#light #orange.active { box-shadow: 0 0 5px orange; }
#light #green.active  { box-shadow: 0 0 5px green; }
