	<template name="ReportView">
		
		<div class="container">

				<article>
					<section id="desc">
						<header>
							<h2>{{project.name}}</h2>
						</header>

						<p>{{project.projectDescription.short}}</p>

						<figure id="projectImage">
							<img src="http://www.tu.no/migration_catalog/2008/02/22/eiksundgrafikk0802220950.jpg/alternates/h1080/eiksundgrafikk0802220950.jpg" alt="Beskrivese av sambandet Ørsta/Volda-Eiksund. Foto." width="450" height="225">
							<figcaption>Eiksundsambandet. Foto: Statens Vegvesen</figcaption>
						</figure>

					</section>

										{{>ProjectInformationBox}}


					<section id="eval">

						<header>
							<h3>Evaluering</h3>
						</header>



							<section id="texteval">
								<h4>Produktivitet</h4>
								<p>{{evaluation.textual.productivity.short}}  <b>{{evaluation.numeric.productivity.value}} av 6 poeng</b>.</p>

								<h4>Måloppnåelse</h4>
								<p>{{evaluation.textual.achievement.short}} <b>{{evaluation.numeric.achievement.value}} av 6 poeng</b>.</p>

								<h4>Virkninger</h4>
								<p>{{evaluation.textual.effects.short}} <b>{{evaluation.numeric.effects.value}} av 6 poeng</b>.</p>


								<h4>Relevans</h4>
								<p>{{evaluation.textual.relevance.short}} <b>{{evaluation.numeric.relevance.value}} av 6 poeng</b>.</p>

								<h4>Levedyktighet</h4>
								<p>{{evaluation.textual.viability.short}} <b>{{evaluation.numeric.viability.value}} av 6 poeng</b>.</p>

								<h4>Samfunnsøkonomisk lønnsomhet</h4>
								<p>{{evaluation.textual.profitability.short}} <b>{{evaluation.numeric.profitability.value}} av 6 poeng</b>.</p>
							</section>

						<canvas id="spiderEvaluation" height="800" width="800"></canvas>





					</section>




					<section id="evaluator">
						<header>
							<h3>Evaluator</h3>
						</header>
						<p>{{responsible.organization}} ved {{responsible.person}}</p>
					</section>


					<section id="references">
						<header>
							<h3>Litteratur og referanser</h3>
						</header>
					</section>




				</article>

		</div>


	</template>



	<template name="ProjectInformationBox">
		<h4>Faktaboks</h4>
		<div class="boxed">
			<dl class="dl-horizontal">
    			<dt>Prosjektnummer</dt>
   				<dd>{{project.projectNumber}}</dd>
    			<dt>Sektor</dt>
    			<dd>{{project.sector}}</dd>
    			<dt>Årstall påbegynt</dt>
    			<dd>{{project.decisionYear}}</dd>
    			<dt>Årstall ferdigstilt</dt>
    			<dd>{{project.finishingYear}}</dd>
    			<dt>Årstall evaluering</dt>
    			<dd>{{project.evaluationYear}}</dd>
    			<dt>Styringsramme</dt>
    			<dd>{{project.managementBudget.amount}}</dd>
    			<dt>Kostnadsramme</dt>
    			<dd>{{project.costBudget.amount}}</dd>
    			<dt>Sluttkostnad</dt>
    			<dd>{{project.costFinal.amount}}</dd>
    			<dt>Ansvarlig</dt>
    			<dd>{{responsible.organization}}</dd>
    			<dt>Oppdragsgiver</dt>
    			<dd>{{principal}}</dd>

			</dl>
		</div>
	</template>




