/*****************************************************************************/
/* ReportView: Style */
/*****************************************************************************/

  canvas{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
        margin-top: -50px;
        margin-bottom: -80px;

    }



#texteval {
		

	h4,
	h5 {
	  	margin-top: 20px;
		margin-bottom: 5px;

	}

	p {
		line-height: 1.5;
	}


}


#desc {
	h2{
		margin-bottom: 25px;


	}
	p {
		margin-bottom: 20px;
		line-height: 1.5;
	}


}

#projectImage {
	figure{
		margin-top: 100px;
	}
}