/*****************************************************************************/
/* ReportView: Style */
/*****************************************************************************/

  canvas{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
        margin-top: -50px;
        margin-bottom: -80px;

    }


.dl-horizontal {
	width:70%;
	margin: 0 auto;
}


#texteval {
		

	h4,
	h5 {
	  	margin-top: 20px;
		margin-bottom: 5px;

	}


	p {
		line-height: 1.5;
	}


}


#desc {
	
	p {
		margin-bottom: 20px;
		line-height: 1.5;
	}


}

#top {
	h1{
		margin-bottom: 40px;
		text-align: center;


	}
}



dt:after {
    content: ":";
  }




.boxed {
  outline: 1px solid black ;

}


#longText {
		p {
		margin-bottom: 20px;
		line-height: 1.7;
	}

		h4,
	h5 {
	  	margin-top: 20px;
		margin-bottom: 5px;

	}


}

#references {

	h3{
	  	margin-top: 20px;
		margin-bottom: 5px;
	}
}




