<template name="ReportView">
	


	<h3>{{project.name}}</h3>
	<p>{{project.projectDescription.short}}</p>

	<h4>Evaluering</h4>

	

	<h5>Produktivitet</h5>
	<p>{{evaluation.textual.productivity.short}}</p>

	<h5>Måloppnåelse</h5>
	<p>{{evaluation.textual.achievement.short}}</p>

	<h5>Virkninger</h5>
	<p>{{evaluation.textual.effects.short}}</p>


	<h5>Relevans</h5>
	<p>{{evaluation.textual.relevance.short}}</p>

	<h5>Levedyktighet</h5>
	<p>{{evaluation.textual.viability.short}}</p>

	<h5>Samfunnsøkonomisk lønnsomhet</h5>
	<p>{{evaluation.textual.profitability.short}}</p>

	<h4>Litteratur og referanser</h4>








</template>
