<!--

Dropzone: An element to upload files, either by dropping or regular click and select mechanisms.

================================================================================================
Params:
================================================================================================
files		- An reactive object where the files is stored. Creates an editable list based on this array
tp			- Which collection to upload to.

-->

<template name="Dropzone">
	<div class="row">
		<div class="col-xs-12">
			{{> DownloadList files=this.files type=this.tp doc=this.doc}}
		</div>
		<div class="col-xs-12">
			<div  class="dropzone text-center" id="dropzone-{{tp}}" style="text-aling:center;">
				<p style="padding:50px 10px;float:none;margin:auto;cursor:pointer;font-size:16px;"><b><i style="font-size:40px">Slipp {{typeDesc}} her</i></b><br>(eller klikk)</p>
				{{! A hidden input field of type file. We can then simulate a mouse click on this input field, and open a OS file browser. }}
				<input type="file" id="upload-{{tp}}" name="upload-{{tp}}" style="visibility: hidden; width: 1px; height: 1px" multiple />
			</div>
		</div>
	</div>
</template>
