/*****************************************************************************/
/* Map: Style */
/*****************************************************************************/

#map-canvas {
	height: 550px;
}

.map-marker-label{
    position: absolute;
    //color: #707070;
    font-size: 13px;
    font-weight: bold;
}

@media (max-width: 767px) {
	#map {
		height:350px;
		padding:0;
	}
}

@media (min-width: 1450px) {
	#map {
		height:800px;

	}
			div.content-wrapper {
			height:100%;
		}
}