/*****************************************************************************/
/* Map: Style */
/*****************************************************************************/

#map {
	height: 550px;
}

@media (max-width: 767px) {
	#map {
		height:350px;
		padding:0;
	}
}

@media (min-width: 1200px) {
	#map {
		height:800px;

	}
			div.content-wrapper {
			height:100%;
		}
}