<template name="ConceptIndex">
	<div class="jumbotron animated fadeIn">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1>Etterevaluering av store statlige investeringsprosjekter</h1>
					<p>Forskningsprogrammet Concept utvikler kunnskap som skal sikre bedre konseptvalg, ressursutnytting og effekt av store statlige investeringer. Følgeforskning knyttet til investeringsprosjekter som kvalitetssikres under den såkalte KS-ordningen er en av hovedaktivitetene.</p>
          <p>Nå  etterevaluerer vi en del av disse prosjektene etter at de er ferdigstilt og kommet i driftsfasen. Det gjøres av eksterne evalueringsmiljøer men også i egen regi eller med medvirkning fra egne forskere. Alle evalueringene skjer etter samme format, ved å benytte seks overordnede evalueringskriterier.</p>
          <p>Disse sidene gir deg enkel tilgang til sammenfattende og strukturert informasjon om evalueringsresultatene.</p>
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					<img src="/images/concept_logo.png" class="img-responsive" style="max-height:270px; padding-top:40px; margin: 0 auto;" alt="Logoen til Concept" >
				</div>
			</div>
		</div>
	</div>
	<div class="container small-sections animated fadeIn">
		<div class="row">
			<div class="col-md-4">
				<h2><a href="{{pathFor 'Reports' page='1'}}"> Evalueringsresultater</a></h2>
				<p>
          Dette presentasjonsverktøyet gir deg de viktigste evalueringsresultatene og lenke til evalueringsrapportene. Du kan sortere etter sektor, geografi, årstall, grad av suksess, etc. Evalueringsresultatene legges ut etter hvert som nye prosjekter blir evaluert. 
				</p>
				<p class="text-center visible-xs section-padding-small"><a class="btn btn-default" href="{{pathFor 'Reports' page='0'}}" role="button">Gå til resultatene &raquo;</a></p>
        <p class="hidden-xs"><a class="btn btn-default" href="{{pathFor 'Reports' page='1'}}" role="button">Gå til resultatene &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2><a href="{{pathFor 'EvaluationCriteria'}}"> Evalueringskriterier</a></h2>
				<p>
         Vi benytter fem evalueringskriterier som anbefales av OECD, og vurderer prosjektets produktivitet, måloppnåelse, relevans, virkninger og levedyktighet. I tillegg gjør vi en samfunnsøkonomisk analyse. Modellen er generisk og derfor anvendbar på alle typer investeringstiltak.
				</p>
				<p class="text-center visible-xs section-padding-small"><a class="btn btn-default" href="{{pathFor 'EvaluationCriteria'}}" role="button">Les mer &raquo;</a></p>
        <p class="hidden-xs"><a class="btn btn-default" href="{{pathFor 'EvaluationCriteria'}}" role="button">Les mer &raquo;</a></p>
			</div>
			<div class="col-md-4 visible-xs">
				<h2><a href="http://www.ntnu.no/concept"> Til Concepts hjemmeside</a></h2>
				<a href="http://www.ntnu.no/concept"><img src="/images/homepage.png" class="img-responsive" style="margin: 0 auto;" alt="Hjemmeside-bilde av Concept"></a>
			</div>
      <div class="col-md-4 hidden-xs">
        <h2><a href="http://www.ntnu.no/concept"> Til Concepts hjemmeside</a></h2>
        <a href="http://www.ntnu.no/concept"><img src="/images/homepage.png" class="img-responsive" alt="Hjemmeside-bilde av Concept"></a>
      </div>
		</div>
	</div>
</template>
