<template name="ConceptIndex">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1>Evalueringsrapporter fra Concept</h1>
					<p class="hyphenate">
						Forskningsprogrammet Concept utvikler kunnskap som skal sikre bedre konseptvalg, ressursutnytting og effekt av store statlige investeringer. Programmet har som sitt primære mål å utvikle kunnskap og kompetanse om prosjekter i tidligfasen fra den første ideen oppstår til endelig finansiering av gjennomføringen er vedtatt. En av hovedaktivitetene er å drive følgeforskning knyttet til store, statlige investeringsprosjekter. Programmet er finansiert av Finansdepartementet.
					</p>
					<span class=""></span><a href="http://www.concept.ntnu.no/Publikasjoner/Rapportserie/Concept_rapport_nr_30.pdf" target="_blank">Link til Concept-rapport 30</a>
				</div>
				<div class="col-md-4 hidden-xs hidden-sm">
					<img src="/images/concept_logo.png" class="img-responsive" style="max-height:350px; padding-top:40px; margin: 0 auto;" alt="Logoen til Concept" >
				</div>
			</div>
		</div>
	</div>
	<div class="container small-sections">
		<div class="row">
			<div class="col-md-4">
				<h2><a href="{{pathFor 'Reports' page='0'}}"> Evalueringsrapporter</a></h2>
				<p class="hyphenate">
          Concept etterevaluerer en del av de største statlige prosjektene som har vært gjennom ekstern kvalitetssikring etter at de er ferdigstilt og kommet i driftsfasen. Evalueringene gjennomføres av eksterne evalueringsmiljøer men også i egen regi eller med medvirkning fra egne forskere. Dette presentasjonsverktøyet skal gi interessenter og allmenheten enkel tilgang til informasjon om disse evalueringene på en sammenfattende, strukturert og oversiktlig måte.
				</p>
				<p class="text-center visible-xs visible-sm section-padding-small"><a class="btn btn-default" href="{{pathFor 'Reports' page='0'}}" role="button">Gå til rapportene &raquo;</a></p>
        <p class="hidden-xs hidden-sm"><a class="btn btn-default" href="{{pathFor 'Reports' page='0'}}" role="button">Gå til rapportene &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2><a href="{{pathFor 'EvaluationCriteria'}}"> Evalueringskriterier</a></h2>
				<p class="hyphenate">
					Alle prosjektene evalueres ved hjelp av fem evalueringskriterier som anbefales av OECD som den primære tilnærmingen. Modellen er generisk og derfor anvendbar på alle typer tiltak, og vurderer prosjektets produktivitet, måloppnåelse, relevans, virkninger og levedyktighet. I tillegg er det foretatt en samfunnsøkonomisk analyse for å vurdere samfunnsøkonomisk lønnsomhet av investeringen i tillegg.
				</p>
				<p class="text-center visible-xs visible-sm section-padding-small"><a class="btn btn-default" href="{{pathFor 'EvaluationCriteria'}}" role="button">Les mer &raquo;</a></p>
        <p class="hidden-xs hidden-sm"><a class="btn btn-default" href="{{pathFor 'EvaluationCriteria'}}" role="button">Les mer &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2><a href="http://www.concept.ntnu.no"> Til Concepts hjemmeside</a></h2>
				<a href="http://www.concept.ntnu.no"><img src="/images/homepage.png" class="img-responsive" alt="Hjemmeside-bilde av Concept"></a>
			</div>
		</div>
	</div>
</template>
