/**
 * ConceptIndex: SCSS styles
 */

div.jumbotron {
	p {
		text-align: justify;
	}

	a {
		font-size: 20px;
	}

	h1 {
		font-size: 45px;
	}
}

.section-padding-small {
	padding: 20px 0;
}

.small-sections p {
	font-size: 16px;
}

div.row.p {
		text-align: justify;
	}

@media (max-width: 450px) {

	div.jumbotron {
		p {
			font-size: 18px;
		}
		padding: 40px 0;
		
		h1 {
			font-weight: 400;
			font-size: 25px;
		}
	}
	div.jumbotron .container {
		margin-top: 20px;
	}
}

@media (max-width: 650px) {
	div.jumbotron {
		h1 {
			font-size: 30px;
		}
	}
}