/*****************************************************************************/
/* ReportList: Style */
/*****************************************************************************/

#report-list-container {
	margin: 50px 0;
}

.table thead tr th {
	text-align: center;   
}

.background-basic {
	background-color: #e5e5e5;
}

.table-container {
	background-color: #fff;
	padding: 10px;
	border: 2px solid darken(#fff, 3%);
	box-shadow: 0px 0px 20px darken(#fff, 20%);
	
	overflow-x: -moz-scrollbars-vertical;
    overflow-x: scroll;

	-webkit-overflow-scrolling: auto;
	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background-color: rgba(130, 130, 130, .5);
		-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}

}
	
#timeline-embed {
	position: relative;
}

#report-list-container .content-wrapper {
	height:575px;
	min-height:575px;
}

div.container {
	margin: 50px auto;
}

@media (max-width: 767px) {

	#report-list-container {
		margin:50px 0;
		padding:0;

		div.box {
			padding:0;
		}

		.content-wrapper {
			height:auto;
			min-height:375px;
		}
	}
}

.table-row {
	&:hover {
		
		cursor:pointer;

		td {
			color:#008cba;
		}
	}
}
.table-header {
	&:hover {
		color:#008cba;
		cursor: pointer;
	}
}

.sort-toggle {
	span {
		font-size:10px;
	}
}

.panel-default:hover {

	border-color: darken(#fff, 20% )!important;

	.overlay{
		display:block!important;
		background-color:darken(#fff, 40%)!important;
		opacity:0.2!important;
		cursor: pointer!important;
	}

	h2, dt, dd{
		color:#008cba !important;
	}
}