dt:after {
	content: ":";
}


.ls-offset {
	margin: 0 auto;
}

.panel-default:hover {

	border-color: darken(#fff, 20% )!important;
	cursor: pointer!important;

	.overlay{
		display:block!important;
		background-color:darken(#fff, 40%)!important;
		opacity:0.2!important;
		cursor: pointer!important;
	}

	h4, dt, dd{
		color:#008cba !important;
	}
}

.dl-horizontal.ls-offset {
	width:100%;
	display: block;


	dt {
		text-align:right;
		display: inline-block;
		width:49%;
		margin: 0;
		padding-right: 5px;
	}	

	dd {	
		display: inline-block;
		width:49%;
		margin:0;
		padding-left: 5px;
	}
}

@media (max-width: 991px) {
	div.panel.panel-info{
		margin-top: 40px;
	}
}