dt:after {
	content: ":";
}


.ls-offset {
	margin: 0 auto;
}

#map-canvas .panel-default:hover {

	border-color: darken(#fff, 20% )!important;
	cursor: pointer!important;
	background-color: darken(rgba(255,255,255,0.2), 40%);

	.panel-heading {

		background-color: rgba(49, 111, 143, 0.2);

		h4 {
			background:none;
			color:#008cba !important;
		}
	}

	h4, dt, dd{
		color:#008cba !important;
	}
}

@media (min-width: 400px) {
	.dl-horizontal.ls-offset {
		width:100%;
		display: block;

		dt {
			text-align:right;
			display: inline-block;
			width:49%;
			margin: 0;
			padding-right: 5px;
		}	

		dd {	
			display: inline-block;
			width:49%;
			margin:0;
			padding-left: 5px;
		}
	}


}

@media (max-width: 991px) {
	div.panel.panel-info{
		margin-top: 40px;
	}
}

@media (max-width: 400px) {
	div.panel.panel-info{
		text-align: center;

	}
	#faktaboks div.light.tool-top  {
		margin:  0 auto;
	}
}