<template name="ProjectInformationBox">
	<div class="panel {{#if mapPopup}} panel-default {{else}} panel-info{{/if}}">
		<div class="panel-heading">
			<h4 class="panel-heading text-center"> {{#if mapPopup}} {{project.name}} {{else}} Prosjektinformasjon {{/if}}</h4>
		</div>
		<div class="panel-body">
			<section id="faktaboks">
				<dl class="dl-horizontal ls-offset">
					<dt>Sektor</dt>
					<dd>{{project.sector}}</dd>
					<dt>Suksess</dt>
					<dd>{{>TrafficLight}}</dd>
					<dt>Årstall påbegynt</dt>
					<dd>{{project.decisionYear}}</dd>
					<dt>Årstall ferdigstilt</dt>
					<dd>{{project.finishingYear}}</dd>
					<dt>Årstall evaluering</dt>
					<dd>{{project.evaluationYear}}</dd>
					<dt>Styringsramme</dt>
					<dd>
            {{#if project.managementBudget.amount}}
              {{project.managementBudget.amount}} mill {{#if project.managementBudget.year}} (i år {{project.managementBudget.year}}){{/if}}
            {{else}}
              -
            {{/if}}
          </dd>
					<dt>Kostnadsramme</dt>
					<dd>
            {{#if project.costBudget.amount}}
              {{project.costBudget.amount}} mill {{#if project.costBudget.year}} (i år {{project.costBudget.year}}){{/if}}
            {{else}}
              -
            {{/if}}
          </dd>
					<dt>Sluttkostnad</dt>
					<dd>
            {{#if project.costFinal.amount}}
              {{project.costFinal.amount}} mill {{#if project.costFinal.year}} (i år {{project.costFinal.year}}){{/if}}
            {{else}}
              -
            {{/if}}
          </dd>
					<dt>Evaluator</dt>
					<dd>{{responsible.organization}}</dd>
				</dl>
			</section>
		</div>
	</div>
</template>
