/*****************************************************************************/
/* BasicBox: Style */
/*****************************************************************************/

$box-background-color: #f5f5f5;
$facts-section-background-color: #ffffff;
$image-section-background-color: #ffffff;
$header-section-background-color: darken(#fff, 2%);

.thumbnail-normal {
	background-color: $box-background-color;
	position: relative;
	box-shadow: 0px 0px 10px darken(#fff, 20%);
	border-radius: 2px;
	margin: 10px 0;
	border: 2px solid darken(#fff, 3%);
	height:100%;
	min-height:315px;

	.row {
		display: table;
		margin: 0;
		max-height: 10px;
		height: 10px;
	}

	.row [class*="col-"] {
		float: none;
		display: table-cell;
		vertical-align: top;
		max-height: 10px;
		height: 10px;
	}
}

.thumbnail-normal:hover {
	cursor: pointer;
	border-color: darken(#fff, 20%);

	h4 {
		color:#008cba;
	}

	.overlay{
		display:block;
		background-color:darken(#fff, 40%);
		opacity:0.1;
	}
	.box-desc{
		color:#008cba;
	}
}

.box-header {
	margin:0;
	padding: 5px;
	background-color: $header-section-background-color;
	border-bottom: 1px solid darken($box-background-color,2%);
}
.list-group .list-group-item {
	position: relative;
	font-size: 12px;
	padding:0px;
	text-align: left;
	border: 0;
	height:20px;
	background-color: $facts-section-background-color;

	.bold {
		font-weight: 500;
	}
}

.box-facts {
	background-color:$facts-section-background-color; 
	padding: 5px;
}

.box-image {
	img{
		max-width:100%;
	}
	background-color: $image-section-background-color;
	padding: 5px 0;
}

.box-desc {
	font-size: 13px;
	padding: 5px;
	border-top: 1px solid darken($box-background-color,2%);
	text-align: justify;
	
	p {
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		hyphenate-character: "\2112";
	}
}

.overlay {
	pointer-events: none;
	width:100%;
	height:100%;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
}