<template name="AboutConcept"> 
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 content-wrapper fill">
        <div class="about-content">
          <h1>Om Concept</h1>
          <p>Concept er et forsningsprogram ved NTNU som er finansiert av Finansdepartementet</p>
          <hr>
          <h4 class="about-subheader">Hva er Concept?</h4>
          <p>Forskningsprogrammet Concept skal utvikle kunnskap som sikrer bedre konseptvalg, ressursutnytting og effekt av store statlige investeringer. Programmet har et særlig fokus på tidligfasen i prosjektene, fra den første ideen oppstår til endelig finansiering av gjennomføringen er vedtatt.</p>
          <h4 class="about-subheader">Hva gjør vi?</h4>
          <p>En hovedaktivitet er å drive følgeforskning knyttet til store, statlige investeringsprosjekter underlagt den norske ordningen med ekstern kvalitetssikring.  Vi foretar løpende innsamling av informasjon om store statlige investeringsprosjekter. Informasjonen samles i databasen Trailbase. Basert på analyse av dataene og andre, teoretisk eller metodisk baserte forskningsprosjekter, utvikler vi ny kunnskap om hvordan vurdere, ta beslutninger om og styre store statlige prosjekter.</p>
          <h4 class="about-subheader">Hvem er med?</h4>
          <p>Concept-programmet er finansiert av Finansdepartementet. Programmet er ment å være en ressurs for mange parter, både aktørene i KS-ordningen, andre forskningsmiljøer, studenter og andre som er involvert i beslutningsprosesser og styring av store prosjekter.  </p>
          <h4 class="about-subheader">Hvor kan jeg lese mer?</h4>
          <p>Concept-programmets hovedside ligger <a href="www.concept.ntnu.no" target="_blank">her.</a></p>

        </div>
      </div>
    </div>
  </div>
</template>
