<template name="ConceptIndex">
	<div class="jumbotron">
 		<div class="container">
 			<h1>Velkommen til Concept-programmets rapportfremviser!</h1>
 			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium pulvinar tellus, id vehicula ipsum porta in. Nunc laoreet dictum tellus, a lacinia leo vestibulum vel. Duis at sagittis risus, ut aliquam ante. Ut lobortis vehicula lacus, at blandit justo ullamcorper non. Cras dui odio, rhoncus eget faucibus a, rhoncus a libero. Etiam et convallis elit. Cras non rhoncus odio, id tempor sapien. Nulla iaculis nulla eget adipiscing blandit. Phasellus convallis consectetur felis quis suscipit. Pellentesque fringilla consequat tempor. <a href="www.rapport.com">Link til Concept-rapport 30</a> <a class="btn btn-default btn-sm" role="button">Les mer</a></p>
 			<p><a class="btn btn-primary btn-lg" role="button">Se på etterevalueringene</a></p>
 			<p>*under her kan vi ha de seks evalueringskriteriene i to rader og 3 kolonner i et slags bokssystem*</p>
  		</div>
	</div>

</template>
