<template name="ConceptIndex">
	<div class="jumbotron">
		<div class="container">
			<h1>Velkommen til Concept-programmets rapportfremviser!</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pretium pulvinar tellus, id vehicula ipsum porta in. Nunc laoreet dictum tellus, a lacinia leo vestibulum vel. Duis at sagittis risus, ut aliquam ante. Ut lobortis vehicula lacus, at blandit justo ullamcorper non. Cras dui odio, rhoncus eget faucibus a, rhoncus a libero. Etiam et convallis elit. Cras non rhoncus odio, id tempor sapien. Nulla iaculis nulla eget adipiscing blandit. <a href="www.rapport.com">Link til Concept-rapport 30</a> </p>
		</div>
	</div>
	<div class="container wrap">
		<div class="row">
			<div class="col-md-4">
				<h2>Evalueringsrapporter</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p><a class="btn btn-default" href="{{pathFor 'ReportList'}}" role="button">Les mer &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Evalueringskriterier</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				<p><a class="btn btn-default" href="{{pathFor 'EvaluationCriteria'}}" role="button">Les mer &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Om Concept</h2>
				<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				<p><a class="btn btn-default" href="{{pathFor 'AboutConcept'}}" role="button">Les mer &raquo;</a></p>
			</div>
		</div>
	</div>
</template>
