


dt:after {
	content: ":";
}


.ls-offset {
	width:90%;
	margin: 0 auto;
}


.panel-default:hover {

	border-color: darken(#fff, 20% )!important;

	.overlay{
		display:block!important;
		background-color:darken(#fff, 40%)!important;
		opacity:0.2!important;
		cursor: pointer!important;
	}

	h4, dt, dd{
		color:#008cba !important;
	}
}