/*****************************************************************************/
/* CreateReport: Style */
/*****************************************************************************/

.dropzone {
	background-color: darken(#fff, 5%);
	margin: 30px 40px;
	padding: 40px 0;
	border: 2px dashed darken(#fff, 10%);
	border-radius: 20px;
}

.dropzone:hover {
	background-color:darken(#fff, 7%);
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

form .btn {
    margin: 2px 5px;
}

div.form-group, div.control-group {
	margin-bottom:20px;

	label {
		margin-bottom: 7px;	
	}
}