<template name="ReportList">
<div class="container-fluid background-basic fill">
	<div class="container text-center" style="margin: 50px auto;">
		<div class="row">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default {{#if $eq viewState "box"}}active{{/if}}" id="report-view-option1">
					<input type="radio" name="report-view" ><span class="glyphicon glyphicon-th"></span> Bokser
				</label>
				<label class="btn btn-default {{#if $eq viewState "table"}}active{{/if}}" id="report-view-option2">
					<input type="radio" name="report-view" ><span class="glyphicon glyphicon-th-list"></span> Tabell
				</label>
			</div>
		</div>
		<div class="row" id="report-list-container">
			{{#if $eq viewState "box"}}
				{{> BoxReportView}}
			{{else}}
				{{> TableReportView}}
			{{/if}}
		</div>
	</div>
</div>
</template>

<template name="BoxReportView">
	{{#each reports}}
		{{> BasicBox}}

	{{/each}}
</template>

<template name="TableReportView">
	<div class="table-container">
		<table class="table table-striped table-hover">
			<thead>
		        <tr>
		            <th class="table-header">#</th>
		            <th class="table-header">Navn</th>
		            <th class="table-header">Sektor</th>
		            <th class="table-header">Årstall ferdigstilt</th>
		            <th class="table-header">Årstall evaluering</th>
		        	<th class="table-header">Styringsramme</th>
		        	<th class="table-header">Sluttkostnad</th>
		        	<th class="table-header">Ansvarlig</th>
		        	<th class="table-header">Oppdragsgiver</th>
		        </tr>
		    </thead>
		    <tbody>
				{{#each reports}}
			  		<tr class="table-row" data="{{_id}}">
			            <td>{{project.projectNumber}}</td>
			            <td>{{project.name}}</td>
			            <td>{{project.sector}}</td>
			            <td>{{project.finishingYear}}</td>
			            <td>{{project.evaluationYear}}</td>
			            <td>{{project.managementBudget}}</td>
			            <td>{{project.costFinal}}</td>
			            <td>{{responsible.organization}}</td>
			            <td>{{principal}}</td>
			        </tr>
			  	{{/each}}
		  	</tbody>
		</table>
	</div>
</template>