/*****************************************************************************/
/* ReportList: Style */
/*****************************************************************************/

#report-list-container {
	margin: 50px 0;
}

.table thead tr th {
   text-align: center;   
}

.background-basic {
	background-color: #e5e5e5;
}

.table-container, .content-wrapper {
	background-color: #fff;
	padding: 10px;
	border: 2px solid darken(#fff, 3%);
	box-shadow: 0px 0px 20px darken(#fff, 20%)
}

.content-wrapper {
	height:425px;
}

.table-row {
	&:hover {
		
		cursor:pointer;

		td {
			color:#008cba;
		}
	}
}
.table-header {
	&:hover {
		color:#008cba;
		cursor: pointer;
	}
}

.sort-toggle {
	span {
		font-size:10px;
	}
}

#map { height: 400px; }