.section-padding {
	margin-bottom: 50px;
	margin-top: 25px;
}

#mycontent {
	h1,h2,h3,h4,h5,h6{
		padding-bottom: 0px;
		padding-top: 10px;

	}

  padding: 0 25px;
}

figure#projectImage {
  margin-top: 30px;
}

.button-margin {
	margin-bottom: 20px;
	margin-top: 20px;
}

#spider-caption {
  position: relative;
  top:-80px;
  
  a {
    z-index:1000;
  }
}

.read-more {
  display: inline-block;
}

.affix,.affix-top {
   position:static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top: 0px;
  	width:170px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:280px;
    width:170px;
  }
}

@media (max-width: 500px) {
  h1#information { 
    font-size: 20px;
    word-break: all;
  }
}

.modal-title {
	text-align: center;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
  color: #707070;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
  color: #3b3b3b;                 
  text-decoration: none;          
  background-color: transparent;  
  border-left-color: #3b3b3b; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-weight: 600;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 400;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
  display: block;           
}

@media all and (max-width: 1170px) {
  .bs-docs-sidebar {
    display: none;
  }	
}