.section-padding {
	margin-bottom: 50px;
	margin-top: 25px;
  padding-right: 30px;
  padding-left: 30px;
}

#mycontent {
	h1,h2,h3,h4,h5,h6{
		padding-bottom: 0px;
		padding-top: 10px;

	}

  padding: 0 25px;
  padding-bottom: 25px;
}

figure#projectImage {
  margin-top: 30px;
}

#images img {
  margin-bottom: 5px;
}

.button-margin {
	margin-bottom: 20px;
	margin-top: 20px;
}

.read-more {
  display: inline-block;
}

@media (max-width: 500px) {
  h1#information { 
    font-size: 20px;
    word-break: all;
  }
}

.modal-title {
	text-align: center;
}

#radarWrapper{
  width: 93%;
}

.line-space{
  margin-right: 30px!important;
  margin-left: 30px!important;

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
   #radarWrapper{
    width:100%;
  }
}

/* Smaller line-space for smaller devices */
@media (max-width: 991px) {
  .line-space{
    margin-right: 15px!important;
    margin-left: 15px!important;
  }
}