
.section-padding {
	padding-bottom: 50px;
	padding-top: 25px;
}



#mycontent {
	h1,h2,h3,h4,h5,h6{
		margin-bottom: 5px;
		margin-top: 25px;

	}
}

.button-margin {
	margin-bottom: 20px;
	margin-top: 20px;
}

/*canvas{
	width: 100% !important;
	max-width: 800px;
	height: auto !important;
	margin-top: 100px;
	margin-bottom: -80px;

}*/


figcaption {
  position: relative;
  top:-80px;
  
  a {
    z-index:1000;
  }
}


@media (min-width: 979px) {
  .affix-top {
    position: fixed;
  	margin-top: 0px;
  	width:170px;
  }
  
  .affix {
    position: fixed;
    top:280px;
    width:170px;
  }
}

.modal-title {
	text-align: center;
}


/* sidebar 
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
}
*/

/* all links */
.bs-docs-sidebar .nav>li>a {
  color: #707070;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
  color: #3b3b3b;                 
  text-decoration: none;          
  background-color: transparent;  
  border-left-color: #3b3b3b; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-weight: 600;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 400;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
  display: block;           
}


@media all and (max-width: 1170px) {
  .bs-docs-sidebar {
      display: none;
    }	
  }
