.section-padding {
	margin-bottom: 50px;
	margin-top: 25px;
  padding-right: 30px;
  padding-left: 30px;
}

#mycontent {
	h1,h2,h3,h4,h5,h6{
		padding-bottom: 0px;
		padding-top: 10px;

	}

  padding: 0 25px;
}

figure#projectImage {
  margin-top: 30px;
}

.button-margin {
	margin-bottom: 20px;
	margin-top: 20px;
}

.read-more {
  display: inline-block;
}

@media (max-width: 500px) {
  h1#information { 
    font-size: 20px;
    word-break: all;
  }
}

.modal-title {
	text-align: center;
}

#radarWrapper{
  width: 93%;
}

.line-space{
  margin-right: 30px!important;
  margin-left: 30px!important;

}