.section-padding {
	margin-bottom: 50px;
	margin-top: 25px;
  padding-right: 30px;
  padding-left: 30px;
}

#mycontent {
	h1,h2,h3,h4,h5,h6{
		padding-bottom: 0px;
		padding-top: 10px;

	}

  padding: 0 25px;
  padding-bottom: 25px;
}

figure#projectImage {
  margin-top: 30px;
}

.button-margin {
	margin-bottom: 20px;
	margin-top: 20px;
}

.read-more {
  display: inline-block;
}

@media (max-width: 500px) {
  h1#information { 
    font-size: 20px;
    word-break: all;
  }
}

.modal-title {
	text-align: center;
}

#radarWrapper{
  width: 93%;
}

.line-space{
  margin-right: 30px!important;
  margin-left: 30px!important;

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
   #radarWrapper{
    width:100%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  #radarWrapper{
    width:60%;
  }

  .information-box{
    width: 60%;
  }
  .section-padding {
    margin-bottom: 25px;
    margin-top: 12.5px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .line-space{
  margin-right: 20px!important;
  margin-left: 20px!important;

  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #eval-header small {
    font-size: 16px;
  }

   #radarWrapper{
    width:80%;
  }

  .information-box{
    width: 80%;
  }
  .section-padding {
    margin-bottom: 25px;
    margin-top: 12.5px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .line-space{
  margin-right: 20px!important;
  margin-left: 20px!important;

  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  #radarWrapper{
    width:95%;
  }



  .information-box{
    width: 95%;
  }
  .section-padding {
    margin-bottom: 25px;
    margin-top: 12.5px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .line-space{
  margin-right: 10px!important;
  margin-left: 10px!important;

  }
}

