<template name="Footer">
	<footer class="text-center animated fadeInUp" id="footer">
		<div class="container-fluid">
      {{!-- Left side --}}
      <div class="col-xs-12 col-md-4" style="padding:0;">
        <p class="text-muted">
          <span class="pull-left visible-lg visible-md">
            Utviklet av <a href="mailto:bjorbrat88@gmail.com">Bjørn Bråthen</a> &middot;
            <a href="mailto:andreas.drivenes@gmail.com">Andreas Drivenes</a>
          </span>
        </p>
      </div>
      {{!-- Center --}}
			<div class="col-xs-12 col-md-4">
				<p class="text-muted text-center">&copy; Concept NTNU &middot; 2014 </p>
			</div>
      {{!-- Right side --}}
			<div class="col-xs-12 col-md-4" style="padding:0;">
				<p class="text-muted">
					<span class="pull-right visible-lg visible-md">
						Laget med <a href="https://www.meteor.com" target="_blank">Meteor</a> &middot;
						<a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
						<a href="http://www.ntnu.no" target="_blank"><img src="/images/ntnu_logo_small.png" class="img-responsive" style="max-height:17px; display:inline-block;" alt="Logoen til NTNU"></a>
					</span>
					<span class="text-center hidden-lg hidden-md">
						<a href="http://www.ntnu.no" target="_blank"><img src="/images/ntnu_logo_small.png" class="img-responsive" style="max-height:17px; display:inline-block;" alt="Logoen til NTNU"></a>
					</span>
				</p>
			</div>
      {{!-- When small --}}
			<div class="col-xs-12 col-md-4 hidden-lg hidden-md" style="padding:0;">
				<p class="text-muted">
					<span class="text-center">
						Utviklet av <a href="mailto:bjorbrat88@gmail.com">Bjørn Bråthen</a> &middot;
            <a href="mailto:andreas.drivenes@gmail.com">Andreas Drivenes</a>
					</span>
				</p>
			</div>
		</div>
	</footer>
</template>
